[bumpversion]
<<<<<<< HEAD
current_version = 0.2.0-Alpha
=======
current_version = 0.1.15-Alpha
>>>>>>> 6c2e4e479f653d2f420261580eabc8693dc2b2a2
commit = True
tag = True
tag_name = v{new_version}
message = "chore(release): bump version to {new_version}"
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<release>[a-zA-Z0-9]+))?

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:part:release]
optional_value = prod
values = 
	Alpha
	Beta
	prod
