[bumpversion]
current_version = 0.4.16-Alpha
commit = True
tag = True
commit_args = --no-verify
tag_name = v{new_version}
message = "chore(release): bump version to {new_version}"
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<release>[a-zA-Z0-9]+))?

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:part:release]
optional_value = prod
values = 
	Alpha
	Beta
	prod
