# requirements-dev.txt

# Include base and Pi-specific requirements
-r requirements.txt
-r requirements-pi.txt

# --- Development-specific tools ---

# For automating version number bumping
bump2version

# For running the test suite
pytest~=8.4.1
pytest-mock

# For code style and quality checking (linter)
flake8

# For automating code checks before commits
pre-commit

# For consistent code formatting (auto-formatter)
black

# For automatically sorting imports
isort

# For ONVIF camera discovery tool
onvif-zeep

python-nmap

# Dependency for the Flask-based configurator webapp
Werkzeug
